**/*.npy
**/__pycache__/
**/argue*
**/models/*
**/Submit_schedule*
**/Overleaf
**/wandb/
!**/models/.gitkeep
**/*.aux
**/*.bbl
**/*.blg
**/*.fls
**/*.log
**/*.gz
**/*.thm
**/*.fdb_latexmk
**/*.out
**/*.toc
**/*.upa
**/*.snm
**/*.xml
**/*.nav
**/*.bcf

